<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <h1>备忘录</h1>
        <span>输入内容</span>
        <input type="text" v-model="content">
        <input type="button" value="添加" @click="add">
        <ul >
            <li v-for="item,index in list">{{item}}<a href="javascript:void(0);" @click="remove(index)">删除</a></li>
        </ul>
        <h3>共{{list.length}}条数据</h3>
    </div>
<script>
    new Vue({
        el: '#app',
        data: {
            list:[
              "今天好好学习",
              "今天下课买菜"
            ],
            message: 'csacsacsa',
            content:""

        },
        methods:{
            add(){
                if (this.content==="") return;
                    this.list.push(this.content);
                this.content=""
            },
            remove(index){
                this.list.splice(index,1)
            }
        }
    })
</script>
</body>
</html>